.rpo-sub-services-1-btn img {
    float: right;
}

.digital-sub-services-1-btn img {
    float: right;
}

.payroll-sub-services-1-btn img {
    float: right;
}

.training-sub-services-1-btn img {
    float: right;
}

.corporate-sub-services-1-btn img {
    float: right;
}

.rpo-sub-services-2-btn img {
    justify-content: center;
}

.digital-sub-services-2-btn img {
    justify-content: center;
}

.payroll-sub-services-2-btn img {
    justify-content: center;
}

.training-sub-services-2-btn img {
    justify-content: center;
}

.corporate-sub-services-2-btn img {
    justify-content: center;
}

.rpo-sub-services-3-btn img {
    float: left;
}

.digital-sub-services-3-btn img {
    float: left;
}

.payroll-sub-services-3-btn img {
    float: left;
}

.training-sub-services-3-btn img {
    float: left;
}

.corporate-sub-services-3-btn img {
    float: left;
}

.rpo-sub-services-4-btn img {
    position: relative;
    left: 261px;
    bottom: 93px;
}

.digital-sub-services-4-btn img {
    position: relative;
    left: 261px;
    bottom: 93px;
}

.payroll-sub-services-4-btn img {
    position: relative;
    left: 261px;
    bottom: 93px;
}

.training-sub-services-4-btn img {
    position: relative;
    left: 261px;
    bottom: 93px;
}

.councelling-sub-services-4-btn img {
    float: right;
    position: relative;
    left: 100px;
}

.corporate-sub-services-4-btn img {
    position: relative;
    left: 261px;
    bottom: 93px;
}

.rpo-sub-services-5-btn img {
    position: relative;
    right: 35px;
    bottom: 93px;
}

.digital-sub-services-5-btn img {
    position: relative;
    right: 35px;
    bottom: 93px;
}

.payroll-sub-services-5-btn img {
    position: relative;
    right: 35px;
    bottom: 93px;
}

.training-sub-services-5-btn img {
    position: relative;
    right: 35px;
    bottom: 93px;
}

.councelling-sub-services-5-btn img {
    float: left;
}
.corporate-sub-services-5-btn img {
    position: relative;
    right: 35px;
    bottom: 93px;
}

.rpo-sub-services-6-btn img {
    float: right;
}

.rpo-sub-services-7-btn img {
    justify-content: center;
}

.rpo-sub-services-8-btn img {
    float: left;
}

.rpo-sub-services-9-btn img {
    position: relative;
    left: 261px;
    bottom: 93px;
}

.digital-sub-services-9-btn img {
    position: relative;
    left: 261px;
    bottom: 93px;
}

.rpo-sub-services-10-btn img {
    position: relative;
    right: 45px;
    bottom: 93px;
}

.digital-sub-services-10-btn img {
    position: relative;
    right: 45px;
    bottom: 93px;
}

.rpo-sub-services-12-btn img {
    position: relative;
    left: 261px;
    bottom: 93px;
}

.rpo-sub-services-13-btn img {
    position: relative;
    right: 35px;
    bottom: 93px;
}

.rpo-sub-services-13-btn img {
    position: relative;
    right: 46px;
    bottom: 93px;
}

.rpo-sub-services-14-btn img {
    position: relative;
    bottom: 180px;
}

.main-row-2 {
    position: relative;
    bottom: 184px;
}

.main-row-3 {
    position: relative;
    bottom: 371px;
}