@font-face {
  font-family: Austhind;
  src: url("./../media/fonts/austhind/Austhind.otf") format("opentype");
}

@font-face {
  font-family: Azonix;
  src: url("./../media/fonts/azonix/Azonix.otf") format("opentype");
}

@font-face {
  font-family: Philosopher;
  src: url("./../media/fonts/philosopher/Philosopher.otf") format("opentype");
}

@font-face {
  font-family: Raleway;
  src: url("./../media/fonts/raleway/Raleway-Regular.otf") format("opentype");
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Helvetica, "Trebuchet MS", Verdana, Arial, sans-serif;
}

section {
  background-color: #000000;
  color: #ffffff;
}

.primary-pink {
  color: #db135d;
}

.primary-blue {
  color: #00e2f9;
}

/* index page first section css start */

.tag-line {
  font-size: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.your {
  font-size: 5rem;
}

.with {
  font-size: 5rem;
}

.business {
  font-size: 7rem;
  line-height: 0.85;
}

.shirt-tie img {
  height: 90vh;
  width: 80vh;
  margin-left: 20px;
}

.shirt-tie {
  justify-content: end;
}

.text-blue {
  color: #14e9ff;
}

.nav-link.active {
  color: #14e9ff;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: deeppink;
}

#logo {
  width: 500px;
}

.menu-li {
  margin-left: auto;
}

.ff-azonix {
  font-family: Azonix, Helvetica, "Trebuchet MS", Verdana, Arial, sans-serif;
}

.ff-austhind {
  font-family: Austhind, Helvetica, "Trebuchet MS", Verdana, Arial, sans-serif;
}

.ff-navbar {
  font-family: Helvetica, "Trebuchet MS", Verdana, Arial, sans-serif;
}

.ff-philosopher {
  font-family: Philosopher, Helvetica, "Trebuchet MS", Verdana, Arial,
    sans-serif;
}

.ff-raleway {
  font-family: Raleway, Helvetica, "Trebuchet MS", Verdana, Arial, sans-serif;
}

.img-mw380 {
  width: 90%;
  max-width: calc(10rem + 10vw);
}

.h4p5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.4;
  font-size: calc(1rem + 0.4vw);
}

.fs-5rem {
  font-size: calc(2rem + 1.5vw);
}

#our-expertise .home-expertise-title {
  font-size: calc(1.4rem + 0.1vw);
  color: #00e2f9;
}

#our-expertise .our-expertise-icons {
  height: 5rem;
}

#our-expertise img.home-our-expertise-triangle {
  height: auto;
  max-height: 16rem;
}

#get-in-touch .form-control,
#get-in-touch .form-select {
  border-bottom: 1px solid #00e2f9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #000;
  color: #a1a1a1;
}

#explore-horizons #social .social-icon {
  height: calc(1.5rem + 0.4vw);
}

#social .display-1 {
  font-size: calc(3rem + 3.5vw);
}

#social .display-2 {
  font-size: calc(1.2rem + 2.6vw);
}

.w-35 {
  width: 35% !important;
}

.home-triangle {
  height: calc(8rem + 2.6vw);
}

.home-line {
  height: 0.1rem;
}

/*
Our expertise animation
*/

.magic-border-container {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.09);
}

.magic-border-container::before,
.magic-border-container::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #00e2f9;
}

span::before,
span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #00e2f9;
}

.magic-border-container:hover::before,
.magic-border-container:hover::after {
  width: 100%;
}

.magic-border-container:hover span::before,
.magic-border-container:hover span::after {
  height: 100%;
}

/*----- button 3 -----*/

/*----- button 3 -----*/

.magic-border::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}

.magic-border span::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0;
}

.magic-border::before {
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}

.magic-border span::before {
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.magic-border:hover::after {
  transition-delay: 0s;
}

.magic-border:hover span::after {
  transition-delay: 0.2s;
}

.magic-border:hover::before {
  transition-delay: 0.4s;
}

.magic-border:hover span::before {
  transition-delay: 0.6s;
}

/*
About
*/

#about-who-are-we img.about-img1 {
  max-width: 100%;
  height: auto;
  max-height: calc(13rem + 7.6vw);
}

#about-why-us img.about-img2 {
  max-width: 100%;
  height: auto;
  max-height: calc(13rem + 4.6vw);
}

#about-what-we-do img.about-img3 {
  max-width: 100%;
  height: auto;
  max-height: calc(13rem + 7.6vw);
}

#about-faqs img.about-img4 {
  max-width: 100%;
  height: auto;
  max-height: calc(7rem + 7.6vw);
  margin-top: calc(3rem + 1.6vw);
}

#about-who-are-we .left-grey-triangle {
  height: auto;
  max-height: 16rem;
}

#about-why-us .right-grey-triangle {
  height: auto;
  max-height: 16rem;
}

#our-vision .right-grey-triangle {
  height: auto;
  max-height: 16rem;
}

.accordion-button,
.accordion-button:not(.collapsed),
.accordion-item {
  background-color: #000;
  color: #fff;
}

.accordion-button.collapsed::after {
  /* content: " \00271a "; */
  background-image: url("");
}

.accordion-button:not(.collapsed)::after {
  /* content: " \00ff0d "; */
  background-image: url("");
}

.accordianSign {
  font-size: 2rem;
  font-family: fantasy;
}

.footer-icon {
  width: 24px;
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .tag-line {
    font-size: 3.5rem;
    padding-top: 20px;
  }
  .shirt-tie img {
    height: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .tag-line {
    font-size: 3.5rem;
    padding-top: 20px;
  }
  .shirt-tie img {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .tag-line {
    font-size: 3rem;
  }
  #logo {
    width: 100% !important;
  }
  .shirt-tie img {
    height: 400px;
    padding-top: 50px;
  }
  #pink-triangle {
    display: none;
  }
}

.footer-radio-inline {
  display: inline-block;
  margin-right: 2rem;
}

@media screen and (max-width: 992px) {
  .w-radio-100 {
    width: 100%;
  }
}

.home-footer-form,
.home-footer-form:focus {
  border-bottom: 1px solid #00e2f9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #000;
  color: #a1a1a1;
}
